# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
app.config.json

# Build outputs
dist/
build/

# OS files
.DS_Store
Thumbs.db

# IDE / editor
.vscode/
.idea/

# Coverage reports
coverage/
.nyc_output/

# Temporary files
*.tmp
*.swp

# Optional: PM2 logs
pids
*.pid
*.seed

# Optional: if you use TypeScript
*.tsbuildinfo
